<div class="container">
  <h1>Account Login</h1>
  <form action="/users/login" method="POST">
  <div class="form-group row">
    <input type="text" placeholder="Email" name="email" class="form-control" required>
  </div>

  <div class="form-group row">
    <input type="password" placeholder="Password" name="password" class="form-control" required>
  </div>

  <div class="input-group-append d-md-flex justify-content-md-end">
    <button type="submit" class="btn btn-secondary" role="button" aria-pressed="true">Sign in</button>
  </div>
  </form>
  <p class="lead mt-4">
    No Account? <a href="/users/register">Register</a>
  </p>
</div>  