<form action="/restaurants" method="POST">
<div>
  <span>餐廳名稱</span>
  <input type="text" placeholder="名稱" name="name">
</div>
<div>
  <span>餐廳英文名稱</span>
  <input type="text" placeholder="英文名稱" name="name_en">
</div>
  <span>餐廳類別</span>
  <input type="text" placeholder="日本料理、義式料理..." name="category">
</div>
<div>
  <span>餐廳照片網址</span>
  <input type="text" placeholder="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5633/07.jpg" name="image">
</div>
<div>
  <span>餐廳地點</span>
  <input type="text" placeholder="台北市中山區伊通街 33 號" name="location">
</div>
<div>
  <span>餐廳電話</span>
  <input type="text" placeholder="02 2507 0633" name="phone">
</div>
<div>
  <span>Google_Map</span>
  <input type="text" placeholder="https://goo.gl/maps/Y1iyiSK7EeR2" name="google_map">
</div>
<div>
  <span>餐廳評分</span>
  <input type="text" placeholder="4.5" name="rating">
</div>
<div>
  <span>餐廳簡介</span>
  <input type="text" placeholder=" " name="description">
</div>
<button type="submit">新增</button>
</form>